body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
    
}

.topo {
    display: flex;
    width: 1000px;
    background-color: #88a2e9;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    padding: 25px;
    color: aliceblue;

}

.topo img {
    width: 80px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.cadastro-topo {
    flex: 4;
}

.cadastro-topo p {
flex: 4;
}

.documentos-necessarios{
    display: flex;
    width: 1000px;
    margin: auto;
    background-color: #d8c7ad;
    padding: 25px;
    margin-top: 30px;
    border-radius: 10px;
}


.imagem-documentos {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem-documentos img{
    width: 70px;
}

.dados-left {
    flex: 2;
}

.dados-right {
    flex: 2;
}

.dados-pessoais {
    display: flex;
    width: 1000px;
    margin: auto;
    padding: 25px;
    background-color: #e4e2e2da;
    border-radius: 10px;
    margin-top: 30px;
    flex-direction: column;
}

.informacao-funcionario { 
    display: flex;
    justify-content: space-between;
    width: 950px;

}

.informacao-funcionario p {
    background-color: #c7c7c7c5;
    line-height: 2;
    padding: 2px 8px 2px 8px;
    font-size: 12px;
    border-radius:4px;
}

.pequeno { 
    flex: 1;
      display: flex;
    flex-direction: column;
}

.medio { 
    flex: 2;
      display: flex;
    flex-direction: column;
}

.grande { 
    flex: 3;
    display: flex;
    flex-direction: column;
}

.extra {
    flex: 6;
      display: flex;
    flex-direction: column;
}


.linha { 
    display: flex;
    width: 950px;
    gap: 20px;
    margin-top: 10px;
}

input {
    height: 32px;
    border: solid 1px #cdcdcd;
    border-radius: 4px;
    margin-top: 8px;
    outline: none;
    padding: 6px;

}