body {
    margin: 0;
    padding: 0;
    background-color: #efefef;
    
}

.topo {
    display: flex;
    width: 1000px;
    background-color: #88a2e9;
    border-radius: 10px;
    margin: auto;
    margin-top: 40px;
    padding: 25px;
    color: aliceblue;

}

.topo img {
    width: 80px;
}

.image {
    display: flex;
    align-items: center;
    justify-content: center;
    flex: 1;
}

.cadastro-topo {
    flex: 4;
}

.cadastro-topo p {
flex: 4;
}

.documentos-necessarios{
    display: flex;
    width: 1000px;
    margin: auto;
    background-color: #d8c7ad;
    padding: 25px;
    margin-top: 30px;
    border-radius: 10px;
}


.imagem-documentos {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}
.imagem-documentos img{
    width: 70px;
}

.dados-left {
    flex: 2;
}

.dados-right {
    flex: 2;
}